// hero-banner-card
.hero-banner-card {
    --screen-space: clamp(0.5rem, 1vw, 1rem);
    min-height: calc(100vh - calc(var(--screen-space) + 1rem));
    margin: var(--screen-space);
    .hero-banner-image {
        width: calc(100vh - calc(var(--screen-space) + 8rem));
    }
}

// protected-tm-card
.protected-tm-card {
    img {
        transition: 0.2s ease-in-out;
    }
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

// cover-step-services-card

.cover-step-package-card {
    .btn-check:checked + .btn,
    :not(.btn-check) + .btn:active,
    .btn:first-child:active,
    .btn.active,
    .btn.show {
        box-shadow: 27px 27px 52px rgb(0, 0, 0, 0.15);
        transform: scale(1.015);
        // * {
        //     color: white;
        // }
    }
    .step-package-card {
        transition: 0.2s cubic-bezier(0.22, 0.68, 0, 1.71);
        &:hover {
            opacity: 0.9;
        }
        &.btn-primary {
            --cstm-btn-color: black;
            --cstm-btn-bg: white;
            --cstm-btn-border-color: #dee2e6;
            --cstm-btn-active-color: black;
            --cstm-btn-active-bg: white;
        }
    }
}

.target-package-step-card-colors {
    & div {
        &:nth-child(1) {
            & > div {
                label.btn-primary {
                    --cstm-btn-bg: #cbcbe3;
                    --cstm-btn-active-bg: #cbcbe3;
                    --cstm-btn-active-border-color: #7272da;
                }
            }
        }
        &:nth-child(2) {
            & > div {
                label.btn-primary {
                    --cstm-btn-bg: #f5deb4;
                    --cstm-btn-active-bg: #f5deb4;
                    --cstm-btn-active-border-color: #ffb322;
                }
            }
        }
        &:nth-child(3) {
            & > div {
                label.btn-primary {
                    --cstm-btn-bg: #f5efd0;
                    --cstm-btn-active-bg: #f5efd0;
                    --cstm-btn-active-border-color: #f5d845;
                }
            }
        }
        &:nth-child(4) {
            & > div {
                label.btn-primary {
                    --cstm-btn-bg: #d0fdee;
                    --cstm-btn-active-bg: #d0fdee;
                    --cstm-btn-active-border-color: #5dfac6;
                }
            }
        }
    }
}
.price-bedge {
    background: red;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    width: 10rem;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 5px #00000038;
    text-align: center;
    &::before,
    &::after {
        content: "";
        width: 1rem;
        height: 1rem;
        display: block;
        position: absolute;
        top: 0;
        z-index: -1;
    }
    &::before {
        left: -20px;
        border-left: 20px solid transparent;
        border-bottom: 20px solid var(--bedge-shadow, #bb0505);
    }
    &::after {
        right: -20px;
        border-right: 20px solid transparent;
        border-bottom: 20px solid var(--bedge-shadow, #bb0505);
    }
    &.Recommended {
        &::before {
            border-bottom: 20px solid var(--bedge-shadow, rgb(183 149 32));
        }
        &::after {
            border-bottom: 20px solid var(--bedge-shadow, rgb(183 149 32));
        }
    }
}
// tm-register-process-card
.tm-register-process-card {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    border-radius: 30px;
}

// faq
.faq-card {
    .accordion-item {
        border-radius: 30px !important;
        border: none;
    }
    button {
        font-size: clamp(16px, 4vw, 18px);
        font-weight: 600;
        border-radius: 0 !important;
        border: none;
        background: white;
    }
    .accordion-button::after {
        background: var(--cstm-primary)
            url(assets-updated/img/icons/arrow-right-white.svg) no-repeat
            center/clamp(13px, 3vw, 20px);
        width: clamp(25px, 4vw, 34px);
        height: clamp(25px, 4vw, 34px);
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        border-radius: 50rem;
        // transform: rotate(-180deg);
    }
    .accordion-button:not(.collapsed)::after {
        transform: rotate(90deg) !important;
    }
    .accordion-body {
        background: var(--cstm-secondary);
        p {
            color: white;
        }
    }
}

// cover-start-to-end
.cover-start-to-end {
    position: relative;
    & > div {
        position: relative;
        &::before {
            position: absolute;
            content: ".";
            font-size: 170px;
            line-height: 0;
            top: 5px;
            left: -50px;
            z-index: 1;
            color: var(--cstm-primary);
        }
    }
    &::after {
        content: "";
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -31px;
        background: radial-gradient(
            circle,
            rgb(34, 175, 225) 0%,
            transparent 100%
        );
    }
}

// lp-pricing-table-card
.lp-pricing-table-card {
    & > :not(caption) > * > * {
        padding: 0.8rem 0.5rem;
    }
    tbody {
        tr {
            td {
                padding-left: 2rem;
            }
            &:nth-child(1) {
                td {
                    width: 20%;
                }
            }
            &:last-child {
                td {
                    border: 0;
                }
            }
        }
    }
}

// lp-registeration-services-card
.lp-registeration-services-card {
    --row-gap: 10px;
    --column-gap: 60px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--row-gap);
    column-gap: var(--column-gap);
    justify-content: space-between;
    & > div {
        @media screen and (width >= 1200px) {
            width: calc(calc(100% / 2) - var(--column-gap));
            max-width: 928px;
        }
    }
}

// faq
.active-policy {
    border: 1px solid var(--cstm-primary);
}

.policy-content {
    h2 {
        font-size: 24px;
        font-weight: bold;
    }
    ul {
        margin-bottom: 1rem;
    }
}
