@import "scss/mixins/banner";
@include bsBanner("");
// scss-docs-start import-stack
// Configuration
@import "scss/functions";
@import "scss/variables";
@import "scss/variables-dark";
@import "scss/maps";
@import "scss/mixins";
@import "scss/utilities";

// Layout & components
@import "scss/root";
@import "scss/reboot";
@import "scss/type";
// @import "scss/images";
@import "scss/containers";
@import "scss/grid";
@import "scss/tables";
@import "scss/forms";
@import "scss/buttons";
@import "scss/transitions";
@import "scss/dropdown";
@import "scss/button-group";
@import "scss/nav";
@import "scss/navbar";
// @import "scss/card";
@import "scss/accordion";
// @import "scss/breadcrumb";
// @import "scss/pagination";
// @import "scss/badge";
// @import "scss/alert";
@import "scss/progress";
// @import "scss/list-group";
@import "scss/close";
// @import "scss/toasts";
// @import "scss/modal";
// @import "scss/tooltip";
// @import "scss/popover";
// @import "scss/carousel";
// @import "scss/spinners";
@import "scss/offcanvas";
// @import "scss/placeholders";

// Helpers
@import "scss/helpers";

// Utilities
@import "scss/utilities/api";
// scss-docs-end import-stack

// pages typography
@import "scss/typography";

// components
@import "scss/components/All-components";

@media screen and (max-width: 576px) {
    .sequenceformsubmit {
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 7px;
    height: 0.6em;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--#{$prefix}primary);
    // height: 1em;
    border-radius: 100vw;
    //border-radius: 35px 0px 0px 35px;
    border: 2px solid transparent;
    background-clip: content-box;
}

// ::selection {
//   color: var(--#{$prefix}primary);
//   background: rgba(var(--#{$prefix}primary-rgb), 0.1);
//   text-shadow: none;
// }


.footer-bg {
    background-image: url('../sequence-assets/img/footer-bg.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
  .vscomp-toggle-button{
    max-height: 64px;
    min-height: 46px;
    border: none;
    border-radius: 5px !important;
    padding: 0px 25px;
    color: #8b8282;
    border: 1px solid #dee2e6;
  }
  .vscomp-ele{
    max-width: 100% !important;
  }

  .lpService {
    width: 100% !important;
    height: 43px !important;
    border: 1px solid transparent !important;
    border-radius: 50px;
}